mark {
	border-bottom: 1px solid currentColor;
	border-top: 1px solid currentColor;
	position: relative;
}

mark[data-anchor="true"] {
	cursor: pointer;
}

mark[data-start="true"] {
	border-left: 1px solid currentColor;
}

mark[data-end="true"] {
	border-right: 1px solid currentColor;
}

mark[data-start="true"]::before {
	background-color: white;
	color: gray;
	content: attr(label);
	font-size: 6px;
	font-weight: normal;
	position: absolute;
	text-transform: uppercase;
	top: 0px;
	white-space: nowrap;
}
