.doc {
	white-space: pre;
}

.highlight {
	background: orange;
}

.redline {
	text-decoration: underline;
  text-decoration-color: red;
}

.custom-highlight {
	background: blue;
	position: relative;
	color: white;
}

.strikethrough {
	text-decoration: line-through;
}
