.doc {
	white-space: pre;
}

mark {
	display: inline-block;
	padding: 1px 0;
	position: relative;
}


mark[data-start="true"]::before {
	background-color: white;
	color: gray;
	content: attr(label);
	font-size: 6px;
	font-weight: normal;
	position: absolute;
	text-transform: uppercase;
	top: -10px;
}

.highlight {
	background: orange;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.highlight[data-start="true"] {
	border-left: 1px solid black;
	padding-left: 2px;
}

.highlight[data-end="true"] {
	border-right: 1px solid black;
	padding-right: 2px;
}

.redline {
	border-bottom: 1px solid red;
}

.custom-highlight {
	background: blue;
	position: relative;
	color: white;
}

.strikethrough {
	text-decoration: line-through;
}
