.doc {
	white-space: pre;
}

.highlight {
	background: blue;
	color: white;
}

.custom-highlight {
	background: yellow;
}

.redline {
	text-decoration: underline;
  text-decoration-color: red;
}

.strikethrough {
	text-decoration: line-through;
}
