.doc {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 12px;

	// https://www.gutenberg.org/files/28885/28885-h/28885-h.htm
	p {
		margin-top: .75em;
		text-align: justify;
		text-indent: 1.25em;
		margin-bottom: .75em;
	}

	img {
		border: 0;
	}

	.tnote {
		border: dashed 1px;
		margin-left: 10%;
		margin-right: 10%;
		padding-bottom: .5em;
		padding-top: .5em;
		padding-left: .5em;
		padding-right: .5em;
	}

	ins {
		text-decoration: none;
		border-bottom: thin dotted gray;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-align: center;
		/* all headings centered */
		clear: both;
	}

	hr {
		width: 33%;
		margin-top: 2em;
		margin-bottom: 2em;
		margin-left: auto;
		margin-right: auto;
		clear: both;
	}

	table {
		margin-left: auto;
		margin-right: auto;
	}

	body {
		margin-left: 10%;
		margin-right: 10%;
	}

	.pagenum {
		/* uncomment the next line for invisible page numbers */
		/*  visibility: hidden;  */
		position: absolute;
		left: 92%;
		font-size: smaller;
		text-align: right;
	}
	/* page numbers */

	.copyright {
		text-align: center;
		font-size: 70%;
	}

	.tale1 {
		font-size: 99%;
	}

	.tale2 {
		font-size: 98%;
	}

	.tale3 {
		font-size: 97%;
	}

	.tale4 {
		font-size: 96%;
	}

	.tale5 {
		font-size: 95%;
	}

	.tale6 {
		font-size: 94%;
	}

	.tale7 {
		font-size: 93%;
	}

	.tale8 {
		font-size: 92%;
	}

	.tale9 {
		font-size: 91%;
	}

	.tale10 {
		font-size: 90%;
	}

	.tale11 {
		font-size: 89%;
	}

	.tale12 {
		font-size: 88%;
	}

	.tale13 {
		font-size: 87%;
	}

	.tale14 {
		font-size: 86%;
	}

	.tale15 {
		font-size: 85%;
	}

	.tale16 {
		font-size: 84%;
	}

	.tale17 {
		font-size: 83%;
	}

	.tale18 {
		font-size: 82%;
	}

	.tale19 {
		font-size: 81%;
	}

	.tale20 {
		font-size: 80%;
	}

	.tale21 {
		font-size: 79%;
	}

	.tale22 {
		font-size: 78%;
	}

	.tale23 {
		font-size: 77%;
	}

	.tale24 {
		font-size: 76%;
	}

	.tale25 {
		font-size: 75%;
	}

	.tale26 {
		font-size: 74%;
	}

	.tale27 {
		font-size: 73%;
	}

	.tale28 {
		font-size: 72%;
	}

	.tale29 {
		font-size: 71%;
	}

	.tale30 {
		font-size: 70%;
	}

	.tale31 {
		font-size: 69%;
	}

	.tale32 {
		font-size: 68%;
	}

	.tale33 {
		font-size: 67%;
	}

	.tale34 {
		font-size: 66%;
	}

	.tale35 {
		font-size: 65%;
	}

	.tale36 {
		font-size: 64%;
	}

	.tale37 {
		font-size: 63%;
	}

	.tale38 {
		font-size: 62%;
	}

	.tale39 {
		font-size: 61%;
	}

	.tale40 {
		font-size: 60%;
	}

	.tale41 {
		font-size: 59%;
	}

	.tale42 {
		font-size: 58%;
	}

	.tale43 {
		font-size: 57%;
	}

	.tale44 {
		font-size: 56%;
	}

	.tale45 {
		font-size: 55%;
	}

	.tale46 {
		font-size: 54%;
	}

	.tale47 {
		font-size: 53%;
	}

	.tale48 {
		font-size: 52%;
	}

	.blockquot {
		margin-left: 5%;
		margin-right: 10%;
		text-align: justify;
	}

	.blockquot2 {
		margin-left: 0;
		margin-right: 40%;
		text-align: justify;
	}

	.bbox {
		border: solid 2px;
		margin-left: 10%;
		margin-right: 10%;
		padding-bottom: .5em;
		padding-top: .5em;
		padding-left: .5em;
		padding-right: .5em;
	}

	.center {
		text-align: center;
	}

	.smcap {
		font-variant: small-caps;
	}

	table.rabbithole {
		width: 600px;
		text-align: center;
		background-repeat: no-repeat;
	}

	.caption {
		font-weight: bold;
		font-size: 70%;
	}

	.figcenter {
		margin: auto;
		text-align: center;
	}

	.figleft {
		float: left;
		clear: left;
		margin-left: 0;
		margin-bottom: 0;
		margin-top: 0;
		margin-right: 0;
		padding: 0;
		text-align: center;
	}

	.figright {
		float: right;
		clear: right;
		margin-left: 0;
		margin-bottom: 0;
		margin-top: 0;
		margin-right: 0;
		padding: 0;
		text-align: center;
	}

	.unindent {
		margin-top: .75em;
		text-align: justify;
		margin-bottom: .75em;
	}

	.right {
		text-align: right;
	}

	.poem {
		margin-left: 30%;
		margin-right: 10%;
		text-align: left;
	}

	.poem2 {
		margin-left: 15%;
		margin-right: 10%;
		text-align: left;
	}

	.sig {
		margin-right: 25%;
		text-align: right;
		font-size: 70%;
	}

	.chapter {
		text-align: left;
		font-size: 150%;
		margin-bottom: .5em;
	}

	.u {
		text-decoration: underline;
	}

	.sidenote {
		width: 20%;
		padding-bottom: .5em;
		padding-top: .5em;
		padding-left: .5em;
		padding-right: .5em;
		margin-left: 1em;
		float: right;
		clear: right;
		margin-top: 1em;
		text-align: center;
		font-size: smaller;
		color: black;
		background: 0;
		border: solid 1px;
	}

	.hang1 {
		text-indent: -3em;
		margin-left: 3em;
	}

	.cap:first-letter {
		float: left;
		clear: left;
		margin: -0.2em 0.1em 0;
		margin-top: 0%;
		padding: 0;
		line-height: .75em;
		font-size: 300%;
		text-align: justify;
	}

	.cap {
		text-align: justify;
	}
}

.quote {
	color: #666666;
	background: #eeeeee;
	border-color: #999999;
	font-style: italic;
}

.quote[data-start="true"] {
	border-left: 1px solid #bbbbbb;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.quote[data-end="true"] {
	border-right: 1px solid #bbbbbb;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.important {
	background: gold;
	font-weight: bold;
}
